/vendor/
/node_modules/
composer.lock
composer.phar
phpunit.xml
.phpunit.result.cache
.DS_Store
Thumbs.db
*.log
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
.env
.php_cs.cache
.php-cs-fixer.cache
.phpunit.cache
coverage/
*.cache
*.tmp
